In [83]:
import pandas as pd
data = pd.read_csv('data_before_preprocessing.csv')
print(data.columns)

Index(['nombre', 'posicion', 'altura', 'nacimiento', 'licencia', 'temporada',
       'club', 'partidos_jugados', 'minutos_jugados', '5i', 'puntos_totales',
       'puntos_maximos', 'tiros_de_3_convertidos', 'tiros_de_3_intentados',
       'tiros_de_3_%', 'tiros_de_2_convertidos', 'tiros_de_2_intentados',
       'tiros_de_2_%', 'tiros_de_1_convertidos', 'tiros_de_1_intentados',
       'tiros_de_1_%', 'rebotes_ofensivos', 'rebotes_defensivos',
       'rebotes_totales', 'asistencias', 'recuperaciones', 'perdidas',
       'tapones_a_favor', 'tapones_en_contra', 'mates', 'faltas_cometidas',
       'faltas_recibidas', '+/-', 'valoracion', 'victorias', 'derrotas'],
      dtype='object')

In [84]:
filtered_data = data[data['temporada'] == '20-21']
data = filtered_data.reset_index(drop=True)
data[:4]

,nombre,posicion,altura,nacimiento,licencia,temporada,club,partidos_jugados,minutos_jugados,5i,...,perdidas,tapones_a_favor,tapones_en_contra,mates,faltas_cometidas,faltas_recibidas,+/-,valoracion,victorias,derrotas
0,Johnny Dee,Escolta,"1,83",04/11/1992,EXT,20-21,Acunsa GBC,8,187.0,6,...,15,0,1,0,18,12,-47,49,1,7
1,Viny Okouo,Pívot,"2,14",10/04/1997,JFL,20-21,Acunsa GBC,8,133.0,2,...,17,1,2,2,18,25,-83,60,1,7
2,Lucas Faggiano,Base,"1,88",21/03/1989,EUR,20-21,Acunsa GBC,8,171.0,4,...,11,1,3,0,16,18,-88,64,1,7
3,Jan Span,Base,"1,87",20/11/1992,EUR,20-21,Acunsa GBC,8,140.0,4,...,12,0,3,0,6,3,-62,-15,1,7

In [85]:
repeated_values = data[data.duplicated(subset='nombre', keep=False)]['nombre'].unique()
print(repeated_values)

['Jovan Kljajic' 'Charlon Kloof']

In [86]:
print(data[data['nombre'].isin(['Charlon Kloof', 'Jovan Kljajic'])])

            nombre posicion altura  nacimiento licencia temporada  \
93   Jovan Kljajic            1,95  11/09/2001      NaN     20-21
147  Charlon Kloof     Base   1,91  20/03/1990      EUR     20-21
166  Jovan Kljajic            1,95  11/09/2001      NaN     20-21
242  Charlon Kloof     Base   1,91  20/03/1990      EUR     20-21

                       club  partidos_jugados  minutos_jugados  5i  ...  \
93   Herbalife Gran Canaria                 2             13.0   0  ...
147       Urbas Fuenlabrada                 7             78.0   1  ...
166  Herbalife Gran Canaria                 2             13.0   0  ...
242       Urbas Fuenlabrada                 7             78.0   1  ...

     perdidas  tapones_a_favor  tapones_en_contra  mates faltas_cometidas  \
93          2                1                  0      0                0
147         6                2                  1      0               12
166         2                1                  0      0                0
242         6                2                  1      0               12

     faltas_recibidas  +/- valoracion  victorias  derrotas
93                  2  -10          5          1         1
147                 6   -8          3          4         3
166                 2  -10          5          1         1
242                 6   -8          3          4         3

[4 rows x 36 columns]

In [87]:
data[163:168]
# around players from other teams

,nombre,posicion,altura,nacimiento,licencia,temporada,club,partidos_jugados,minutos_jugados,5i,...,perdidas,tapones_a_favor,tapones_en_contra,mates,faltas_cometidas,faltas_recibidas,+/-,valoracion,victorias,derrotas
163,Jonathan Rousselle,Base,"1,92",07/02/1990,EUR,20-21,RETAbet Bilbao Basket,6,141.0,6,...,14,0,0,0,17,17,-30,76,1,5
164,Jaylon Brown,Escolta,"1,83",11/09/1994,EXT,20-21,RETAbet Bilbao Basket,6,157.0,4,...,12,0,4,2,16,26,-40,64,1,5
165,Alex Reyes,Alero,"2,02",17/12/1993,JFL,20-21,RETAbet Bilbao Basket,6,82.0,0,...,2,1,1,0,8,4,9,37,1,5
166,Jovan Kljajic,,"1,95",11/09/2001,NaN,20-21,Herbalife Gran Canaria,2,13.0,0,...,2,1,0,0,0,2,-10,5,1,1
167,Ondrej Balvin,Pívot,"2,17",20/09/1992,EUR,20-21,RETAbet Bilbao Basket,6,148.0,6,...,8,5,0,8,14,28,-45,112,1,5

In [88]:
data = data.drop(166)
data[163:168]

,nombre,posicion,altura,nacimiento,licencia,temporada,club,partidos_jugados,minutos_jugados,5i,...,perdidas,tapones_a_favor,tapones_en_contra,mates,faltas_cometidas,faltas_recibidas,+/-,valoracion,victorias,derrotas
163,Jonathan Rousselle,Base,"1,92",07/02/1990,EUR,20-21,RETAbet Bilbao Basket,6,141.0,6,...,14,0,0,0,17,17,-30,76,1,5
164,Jaylon Brown,Escolta,"1,83",11/09/1994,EXT,20-21,RETAbet Bilbao Basket,6,157.0,4,...,12,0,4,2,16,26,-40,64,1,5
165,Alex Reyes,Alero,"2,02",17/12/1993,JFL,20-21,RETAbet Bilbao Basket,6,82.0,0,...,2,1,1,0,8,4,9,37,1,5
167,Ondrej Balvin,Pívot,"2,17",20/09/1992,EUR,20-21,RETAbet Bilbao Basket,6,148.0,6,...,8,5,0,8,14,28,-45,112,1,5
168,Felipe Dos Anjos,Pívot,"2,18",30/04/1998,JFL,20-21,RETAbet Bilbao Basket,4,16.0,0,...,2,1,0,0,3,0,16,-1,0,4

In [89]:
data[145:150]
# around players from other teams

,nombre,posicion,altura,nacimiento,licencia,temporada,club,partidos_jugados,minutos_jugados,5i,...,perdidas,tapones_a_favor,tapones_en_contra,mates,faltas_cometidas,faltas_recibidas,+/-,valoracion,victorias,derrotas
145,Jeremy Senglin,Escolta,"1,88",24/03/1995,EXT,20-21,MoraBanc Andorra,7,187.0,6,...,12,0,2,0,20,15,-21,62,3,4
146,Alexis Bartolomé,Alero,"1,99",23/09/1998,JFL,20-21,MoraBanc Andorra,1,5.0,0,...,0,0,0,0,2,0,-1,-3,1,0
147,Charlon Kloof,Base,"1,91",20/03/1990,EUR,20-21,Urbas Fuenlabrada,7,78.0,1,...,6,2,1,0,12,6,-8,3,4,3
148,John Roberson,Base,"1,80",28/10/1988,EXT,20-21,Movistar Estudiantes,9,203.0,4,...,17,0,4,0,17,20,-5,115,4,5
149,Aleksa Avramovic,Escolta,"1,92",25/10/1994,EUR,20-21,Movistar Estudiantes,9,236.0,3,...,19,3,8,2,19,36,-25,124,4,5

In [90]:
data = data.drop(147)
data[145:150]

,nombre,posicion,altura,nacimiento,licencia,temporada,club,partidos_jugados,minutos_jugados,5i,...,perdidas,tapones_a_favor,tapones_en_contra,mates,faltas_cometidas,faltas_recibidas,+/-,valoracion,victorias,derrotas
145,Jeremy Senglin,Escolta,"1,88",24/03/1995,EXT,20-21,MoraBanc Andorra,7,187.0,6,...,12,0,2,0,20,15,-21,62,3,4
146,Alexis Bartolomé,Alero,"1,99",23/09/1998,JFL,20-21,MoraBanc Andorra,1,5.0,0,...,0,0,0,0,2,0,-1,-3,1,0
148,John Roberson,Base,"1,80",28/10/1988,EXT,20-21,Movistar Estudiantes,9,203.0,4,...,17,0,4,0,17,20,-5,115,4,5
149,Aleksa Avramovic,Escolta,"1,92",25/10/1994,EUR,20-21,Movistar Estudiantes,9,236.0,3,...,19,3,8,2,19,36,-25,124,4,5
150,Adams Sola,Escolta,"1,93",27/07/2000,JFL,20-21,Movistar Estudiantes,9,30.0,1,...,2,0,2,0,6,1,8,-5,4,5

In [93]:
missing_values = data.isnull().sum()
print(missing_values)

nombre                    0
posicion                  0
altura                    0
nacimiento                0
licencia                  4
temporada                 0
club                      0
partidos_jugados          0
minutos_jugados           0
5i                        0
puntos_totales            0
puntos_maximos            0
tiros_de_3_convertidos    0
tiros_de_3_intentados     0
tiros_de_3_%              0
tiros_de_2_convertidos    0
tiros_de_2_intentados     0
tiros_de_2_%              0
tiros_de_1_convertidos    0
tiros_de_1_intentados     0
tiros_de_1_%              0
rebotes_ofensivos         0
rebotes_defensivos        0
rebotes_totales           0
asistencias               0
recuperaciones            0
perdidas                  0
tapones_a_favor           0
tapones_en_contra         0
mates                     0
faltas_cometidas          0
faltas_recibidas          0
+/-                       0
valoracion                0
victorias                 0
derrotas                  0
dtype: int64

In [94]:
null_rows = data[data.isnull().any(axis=1)]
print(null_rows)
# Development Players (take a look at their age)

            nombre   posicion altura  nacimiento licencia temporada  \
90    Khalifa Diop  Ala-pívot   2,15  15/01/2002      NaN     20-21
93   Jovan Kljajic              1,95  11/09/2001      NaN     20-21
229  Pablo Sánchez       Base   1,89  18/10/2002      NaN     20-21
230  Yannick Nzosa      Pívot   2,08  15/11/2003      NaN     20-21

                       club  partidos_jugados  minutos_jugados  5i  ...  \
90   Herbalife Gran Canaria                 3             13.0   0  ...
93   Herbalife Gran Canaria                 2             13.0   0  ...
229                 Unicaja                 2              8.0   0  ...
230                 Unicaja                 7             86.0   0  ...

     perdidas  tapones_a_favor  tapones_en_contra  mates faltas_cometidas  \
90          2                0                  1      2                2
93          2                1                  0      0                0
229         0                0                  0      0                0
230         5               10                  1      3               17

     faltas_recibidas  +/- valoracion  victorias  derrotas
90                  2  -13          0          0         3
93                  2  -10          5          1         1
229                 1    2          1          2         0
230                 1   29         37          5         2

[4 rows x 36 columns]

In [95]:
data = data.fillna('JFL')
print(data.isnull().sum())

nombre                    0
posicion                  0
altura                    0
nacimiento                0
licencia                  0
temporada                 0
club                      0
partidos_jugados          0
minutos_jugados           0
5i                        0
puntos_totales            0
puntos_maximos            0
tiros_de_3_convertidos    0
tiros_de_3_intentados     0
tiros_de_3_%              0
tiros_de_2_convertidos    0
tiros_de_2_intentados     0
tiros_de_2_%              0
tiros_de_1_convertidos    0
tiros_de_1_intentados     0
tiros_de_1_%              0
rebotes_ofensivos         0
rebotes_defensivos        0
rebotes_totales           0
asistencias               0
recuperaciones            0
perdidas                  0
tapones_a_favor           0
tapones_en_contra         0
mates                     0
faltas_cometidas          0
faltas_recibidas          0
+/-                       0
valoracion                0
victorias                 0
derrotas                  0
dtype: int64

In [96]:
data['PPG'] = data['puntos_totales'] / data['partidos_jugados']
data['PPG'] = data['PPG'].round(2)
columns_to_remove = ['temporada', '5i', 'mates', 'victorias', 'derrotas', 'partidos_jugados','puntos_totales','minutos_jugados', 'puntos_maximos']
data = data.drop(columns=columns_to_remove)
print(data.columns)

Index(['nombre', 'posicion', 'altura', 'nacimiento', 'licencia', 'club',
       'tiros_de_3_convertidos', 'tiros_de_3_intentados', 'tiros_de_3_%',
       'tiros_de_2_convertidos', 'tiros_de_2_intentados', 'tiros_de_2_%',
       'tiros_de_1_convertidos', 'tiros_de_1_intentados', 'tiros_de_1_%',
       'rebotes_ofensivos', 'rebotes_defensivos', 'rebotes_totales',
       'asistencias', 'recuperaciones', 'perdidas', 'tapones_a_favor',
       'tapones_en_contra', 'faltas_cometidas', 'faltas_recibidas', '+/-',
       'valoracion', 'PPG'],
      dtype='object')

In [97]:
column_name = 'posicion'
replacement_dict = {
    'Base': 'B',
    'Escolta': 'E',
    'Alero': 'A',
    'Ala-pívot': 'AP',
    'Pívot': 'P'
}
data[column_name] = data[column_name].replace(replacement_dict)
data

,nombre,posicion,altura,nacimiento,licencia,club,tiros_de_3_convertidos,tiros_de_3_intentados,tiros_de_3_%,tiros_de_2_convertidos,...,asistencias,recuperaciones,perdidas,tapones_a_favor,tapones_en_contra,faltas_cometidas,faltas_recibidas,+/-,valoracion,PPG
0,Johnny Dee,E,"1,83",04/11/1992,EXT,Acunsa GBC,17,47,"36,2%",8,...,13,7,15,0,1,18,12,-47,49,9.75
1,Viny Okouo,P,"2,14",10/04/1997,JFL,Acunsa GBC,0,0,"0,0%",24,...,3,4,17,1,2,18,25,-83,60,7.62
2,Lucas Faggiano,B,"1,88",21/03/1989,EUR,Acunsa GBC,1,11,"9,1%",21,...,28,10,11,1,3,16,18,-88,64,6.38
3,Jan Span,B,"1,87",20/11/1992,EUR,Acunsa GBC,7,39,"17,9%",4,...,12,3,12,0,3,6,3,-62,-15,3.62
4,Xabi Oroz,E,"1,93",19/01/1996,JFL,Acunsa GBC,0,1,"0,0%",3,...,12,11,6,2,2,8,7,-33,26,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Martin Hermannsson,B,"1,90",16/09/1994,EUR,Valencia Basket Club,8,22,"36,4%",16,...,16,3,17,0,1,16,14,10,41,7.50
258,Joan Sastre,A,"2,01",10/12/1991,JFL,Valencia Basket Club,3,8,"37,5%",5,...,9,5,5,1,1,2,3,18,29,7.67
259,Josep Puerto,E,"1,99",08/03/1999,JFL,Valencia Basket Club,0,2,"0,0%",1,...,0,0,0,0,0,1,1,-14,2,1.00
260,Jaime Pradilla,AP,"2,02",03/01/2001,JFL,Valencia Basket Club,1,2,"50,0%",5,...,0,1,1,0,2,3,2,6,13,4.00
261,Derrick Williams,AP,"2,03",25/05/1991,EXT,Valencia Basket Club,1,9,"11,1%",7,...,5,3,12,1,1,16,7,6,7,3.14

In [98]:
new_column_names = ['name', 'pos', 'height', 'birth_date', 'license', 'club', 'X3PTM', 'X3PTA', 'X3PT_Per', 'X2PTM', 'X2PTA', 'X2PT_Per', 'FTM', 'FTA', 'FT_Per', 'OR', 'DR', 'TR', 'AST', 'STL', 'TOV', 'BLKF', 'BLKA', 'FC', 'FD', 'PlusMinus', 'PIR', 'PPG']
data.columns = new_column_names
new_order = ['name', 'pos', 'height', 'birth_date', 'license', 'club', 'PPG', 'X3PTM', 'X3PTA', 'X3PT_Per', 'X2PTM', 'X2PTA', 'X2PT_Per', 'FTM', 'FTA', 'FT_Per', 'OR', 'DR', 'TR', 'AST', 'STL', 'TOV', 'BLKF', 'BLKA', 'FC', 'FD', 'PlusMinus', 'PIR']
data = data[new_order]
data

,name,pos,height,birth_date,license,club,PPG,X3PTM,X3PTA,X3PT_Per,...,TR,AST,STL,TOV,BLKF,BLKA,FC,FD,PlusMinus,PIR
0,Johnny Dee,E,"1,83",04/11/1992,EXT,Acunsa GBC,9.75,17,47,"36,2%",...,23,13,7,15,0,1,18,12,-47,49
1,Viny Okouo,P,"2,14",10/04/1997,JFL,Acunsa GBC,7.62,0,0,"0,0%",...,38,3,4,17,1,2,18,25,-83,60
2,Lucas Faggiano,B,"1,88",21/03/1989,EUR,Acunsa GBC,6.38,1,11,"9,1%",...,18,28,10,11,1,3,16,18,-88,64
3,Jan Span,B,"1,87",20/11/1992,EUR,Acunsa GBC,3.62,7,39,"17,9%",...,9,12,3,12,0,3,6,3,-62,-15
4,Xabi Oroz,E,"1,93",19/01/1996,JFL,Acunsa GBC,1.00,0,1,"0,0%",...,10,12,11,6,2,2,8,7,-33,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Martin Hermannsson,B,"1,90",16/09/1994,EUR,Valencia Basket Club,7.50,8,22,"36,4%",...,13,16,3,17,0,1,16,14,10,41
258,Joan Sastre,A,"2,01",10/12/1991,JFL,Valencia Basket Club,7.67,3,8,"37,5%",...,4,9,5,5,1,1,2,3,18,29
259,Josep Puerto,E,"1,99",08/03/1999,JFL,Valencia Basket Club,1.00,0,2,"0,0%",...,3,0,0,0,0,0,1,1,-14,2
260,Jaime Pradilla,AP,"2,02",03/01/2001,JFL,Valencia Basket Club,4.00,1,2,"50,0%",...,5,0,1,1,0,2,3,2,6,13
261,Derrick Williams,AP,"2,03",25/05/1991,EXT,Valencia Basket Club,3.14,1,9,"11,1%",...,18,5,3,12,1,1,16,7,6,7

In [99]:
import datetime
data['age'] = 2020 - pd.to_datetime(data['birth_date']).dt.year
data = data.drop(columns=['birth_date'])
new_order = ['name', 'pos', 'height', 'age', 'license', 'club', 'PPG', 'X3PTM', 'X3PTA', 'X3PT_Per', 'X2PTM', 'X2PTA', 'X2PT_Per', 'FTM', 'FTA', 'FT_Per', 'OR', 'DR', 'TR', 'AST', 'STL', 'TOV', 'BLKF', 'BLKA', 'FC', 'FD', 'PlusMinus', 'PIR']
data = data[new_order]
data

<ipython-input-99-840e303b98ed>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['age'] = 2020 - pd.to_datetime(data['birth_date']).dt.year
<ipython-input-99-840e303b98ed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['age'] = 2020 - pd.to_datetime(data['birth_date']).dt.year

,name,pos,height,age,license,club,PPG,X3PTM,X3PTA,X3PT_Per,...,TR,AST,STL,TOV,BLKF,BLKA,FC,FD,PlusMinus,PIR
0,Johnny Dee,E,"1,83",28,EXT,Acunsa GBC,9.75,17,47,"36,2%",...,23,13,7,15,0,1,18,12,-47,49
1,Viny Okouo,P,"2,14",23,JFL,Acunsa GBC,7.62,0,0,"0,0%",...,38,3,4,17,1,2,18,25,-83,60
2,Lucas Faggiano,B,"1,88",31,EUR,Acunsa GBC,6.38,1,11,"9,1%",...,18,28,10,11,1,3,16,18,-88,64
3,Jan Span,B,"1,87",28,EUR,Acunsa GBC,3.62,7,39,"17,9%",...,9,12,3,12,0,3,6,3,-62,-15
4,Xabi Oroz,E,"1,93",24,JFL,Acunsa GBC,1.00,0,1,"0,0%",...,10,12,11,6,2,2,8,7,-33,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Martin Hermannsson,B,"1,90",26,EUR,Valencia Basket Club,7.50,8,22,"36,4%",...,13,16,3,17,0,1,16,14,10,41
258,Joan Sastre,A,"2,01",29,JFL,Valencia Basket Club,7.67,3,8,"37,5%",...,4,9,5,5,1,1,2,3,18,29
259,Josep Puerto,E,"1,99",21,JFL,Valencia Basket Club,1.00,0,2,"0,0%",...,3,0,0,0,0,0,1,1,-14,2
260,Jaime Pradilla,AP,"2,02",19,JFL,Valencia Basket Club,4.00,1,2,"50,0%",...,5,0,1,1,0,2,3,2,6,13
261,Derrick Williams,AP,"2,03",29,EXT,Valencia Basket Club,3.14,1,9,"11,1%",...,18,5,3,12,1,1,16,7,6,7

In [100]:
data['X3PT_Per'] = data['X3PT_Per'].str.replace('%', '')
data['X3PT_Per'] = data['X3PT_Per'].str.replace(',', '.')
data['X3PT_Per'] = pd.to_numeric(data['X3PT_Per'])

data['X2PT_Per'] = data['X2PT_Per'].str.replace('%', '')
data['X2PT_Per'] = data['X2PT_Per'].str.replace(',', '.')
data['X2PT_Per'] = pd.to_numeric(data['X2PT_Per'])

data['FT_Per'] = data['FT_Per'].str.replace('%', '')
data['FT_Per'] = data['FT_Per'].str.replace(',', '.')
data['FT_Per'] = pd.to_numeric(data['FT_Per'])

data['height'] = data['height'].str.replace(',', '.')
data['height'] = pd.to_numeric(data['height'])
data[:4]

,name,pos,height,age,license,club,PPG,X3PTM,X3PTA,X3PT_Per,...,TR,AST,STL,TOV,BLKF,BLKA,FC,FD,PlusMinus,PIR
0,Johnny Dee,E,1.83,28,EXT,Acunsa GBC,9.75,17,47,36.2,...,23,13,7,15,0,1,18,12,-47,49
1,Viny Okouo,P,2.14,23,JFL,Acunsa GBC,7.62,0,0,0.0,...,38,3,4,17,1,2,18,25,-83,60
2,Lucas Faggiano,B,1.88,31,EUR,Acunsa GBC,6.38,1,11,9.1,...,18,28,10,11,1,3,16,18,-88,64
3,Jan Span,B,1.87,28,EUR,Acunsa GBC,3.62,7,39,17.9,...,9,12,3,12,0,3,6,3,-62,-15

In [102]:
data.to_csv('data_preprocessed.csv', index=False)